{% load static %}


  <!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
 
  <link rel="stylesheet" href="{% static 'css/custom.css' %}">

</head>
<body class="body"><center>
<!-- partial:index.partial.html -->
<div class="col-12 col-sm-12 col-md-6 col-lg-3 mb-3">
<div class="wrapper">
  <div class="title-text">
    <div class="title login"> <img src="{% static 'images/key.png' %}" style="border-radius: 50%;"  width="85px" height="85px" >
    </div>
  </div>
  <div class="form-container">
   
   
   
    <div class="form-inner">
      <form action="" method="post" class="login">
            {% csrf_token %}
        <div style="height: 45px;"></div>
        <div class="field">
          <input type="text" name="username" placeholder="Username" required>
        </div>
        <div style="height: 10px;"></div>
        <div class="field">
          <input type="password" name="password" placeholder="Password" required>
        </div>
        <div style="height: 10px;"></div>
      
        <div class="field btn">
          <div class="btn-layer"></div>
          <input type="submit" value="Login">
        </div>
        <div class="signup-link">Not a member? <a href="{% url 'register:register' %}">Signup now</a></div>
      </form>
     
    </div>
  </div>
</div>
</div>
</center>
<!-- partial -->
<script src="{% static 'js/script.js' %}"></script>

</body>
</html>
